#locate { position: absolute; visibility: visible; left: 330px; top: 100px; z-index: 200; } 
body
{
background-image:url(https://upload.wikimedia.org/wikipedia/commons/a/a2/EMA_-_Erika_M._Anderson_WAVES_2011_17.jpg)
}